body {
	font-family: Arial;
}

.center {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: left;
}

.tooltip {
	position: absolute;
	background-color: lightpink;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
	color: indianred;
}

#col1 {
	flex: 60%;
}

#col2 {
	flex: 40%;
}

